@import url('обнуление.css');

/*-----------------HEADER----------*/

html {
	font-size: 12px;
}

.header {
	font-family: 'Poppins', sans-serif;
	font-size: medium;
}

.container {
	margin: 0 auto;
	max-width: 1290px;
}

.header__body {
	display: flex;
	justify-content: space-between;
	margin-top: 52px;
}

.header__logo {}

.header__logo-text {
	font-weight: bold;
	font-size: 3.4rem;
	display: inline;
}

.header__menu {}

.header__items {
	display: flex;
	justify-content: space-between;
	width: 645px;
	font-size: 1.8rem;

}

.header__item {}

.header__link {
	color: black;
}

.link__black {
	color: white;
	background-color: black;
	padding: 11px 16px;
	border-radius: 5px;
}